$font-color: #ffffff;
$font-color-inactive: #afafaf;
$font-color-disabled: #7f7f7f;
$border-color-dark: #4f4f4f;
$input-background: #252629;
$header-background: #202123;
$button-background: #37383d;
$button-background-active: #3f4047;